nav {
    height: 6rem;
  }
  
  .panels {
    min-height: 100%;
    overflow: hidden;
    display: flex;
  }

  .panel {
    flex: 1; /* Each panel takes an equal width */
    display: flex;
    background: #000;
    color: white;
    font-size: 1rem;
    background-size: cover;
    background-position: center;
    // transition: font-size 0.7s linear, flex 0.7s linear;
    transition: font-size 0.7s cubic-bezier(0.57,-0.43, 0.75, 1.23), flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  }

  .panel1 {
    background-image: url(/img/1.jpg);
  }
  .panel2 {
    background-image: url(/img/2.jpg);
  }
  .panel3 {
    background-image: url(/img/4.jpg);
  }
  .panel4 {
    background-image: url(/img/3.jpg);
  }
  .panel5 {
    background-image: url(/img/5.jpg);
  }

  .panel a {
    //border: 1px solid red;
    flex: 1 0 auto; /*Allow the outlined items to expand vertically*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 1.5em;
    //transition: transform 0.5s;
  }
  /*
  .panel :first-child {
    transform: translateY(100%);
  }
  .panel.open-active :first-child {
    transform: translateY(0);
  }*/
 

  .panel.active {
    flex: 2;
    font-size: 2em;
    border-bottom: 4px solid yellow;
  }

  .highlight {
    transition: all 0.2s;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    z-index: 1;
    display: block;
    pointer-events: none;
  }