.wrap {
    background: #eee;
    max-width: 940px;
    margin: 0 1rem;
    @media (min-width: 940px){
      margin: 0 auto;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      display: flex;
      padding: 1rem;
      img {
        width: 30%;
        height: 100%;
        padding: 0.5rem;
        border: 1px solid #ddd;
        margin-right: 1rem;
      }
      h1 {
        font-family: lobster;
        a {
          color: #666;
          text-decoration: none;
        }
      }
    }
}