<div class="wrap" itemscope itemtype="http://schema.org/Recipe">

    <h1>{{ $ctrl.recipe.title }}</h1>
    <!--<img ng-src="img/home/{{ $ctrl.recipe.mainImageUrl }}" />-->
    <img ng-src="img/home/{{$ctrl.mainImageUrl}}" class="recipe-detail-image" />
    <p>{{ $ctrl.recipe.description }}</p>

    
    <!--<img ng-src="img/home/{{ $ctrl.recipe.mainImageUrl }}" />-->
    
    <ul class="recipe-thumbs">
            <li ng-repeat="img in $ctrl.recipe.images">
                <img ng-src="img/home/{{img}}" ng-click="$ctrl.setImage(img)" />
            </li>
    </ul>
    <h3>Ingredients</h3>
    <ul class="ingredients">
        <li ng-repeat="ingredient in $ctrl.recipe.ingredients">
            {{ ingredient }}
        </li>
    </ul>

</div>