  <div class="wrap">
      <ul>
        <li>
            <p>Filter: <input ng-model="$ctrl.query" /></p>
            <p>Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="title">Alphabetical</option>
                    <option value="date">Newest</option>
                </select>
            </p>
        </li>
      </ul>
      </div>
    
    <div class="wrap">
      <ul>
        <li ng-repeat="recipe in recipes | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <img ng-src="img/home/{{ recipe.image }}">
          <!--<img ng-src="img/home/{{$ctrl.mainImageUrl}}" class="recipe-detail-image" />-->
          <div>
            <!--<h1><a href="#0">{{ recipe.title }}</a></h1>-->
            <!--<h1><a href="/recipes/{{ recipe.name }} ">{{ recipe.title }}</a></h1>-->
            <h1><a href="/recipes/{{ recipe._id }}">{{ recipe.title }} <!--/ {{ recipe._id }}--></a></h1>
            
            <p>{{ recipe.description }}</p>
            
            
          </div>
        </li>
      </ul>
    </div>

    